.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
.create_form input{
width: 200px;
padding: 9px;
border-bottom: 2px solid black;
outline: none;
margin-right: 6px;
border-radius: 15px;

}
.create_form button{
padding: 9px;
background-color: rgb(15, 110, 3);
color: whitesmoke;
cursor: pointer;
border-radius: 15px;
}